@font-face {
    src: url(../css/fonts/BLANCH_CAPS.ttf);
    font-family: "BLANCH_CAPS";
    src: url(../css/fonts/BLANCH_CAPS_INLINE.ttf);
    font-family: "BLANCH_CAPS_INLINE";
    src: url(../css/fonts/BLANCH_CAPS_LIGHT.ttf);
    font-family: "BLANCH_CAPS_LIGHT";
    src: url(../css/fonts/BLANCH_CONDENSED.ttf);
    font-family: "BLANCH_CONDENSED";
    src: url(../css/fonts/BLANCH_CONDENSED_INLINE.ttf);
    font-family: "BLANCH_CONDENSED_INLINE";
    src: url(../css/fonts/BLANCH_CONDENSED_LIGHT.ttf);
    font-family: "BLANCH_CONDENSED_LIGHT";
}
body {
    background-image: url("../css/assets/fabric_plaid.png");   
    background-repeat: repeat; 
    width: 100%;
    height: 100%;
    font-family: "BLANCH_CAPS", Times, serif;
}
.navigation {
    font-family: "BLANCH_CONDENSED_LIGHT";    
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 5px;
    align-items: center; 
    text-decoration: none; 
    font-family: "BLANCH_CONDENSED_LIGHT";
}
.logo {
    height: 80px;
    width: auto;
    padding-left: 10px;
} 
a {
    text-decoration: none;
    color: grey;
    padding: 6px 6px 6px 6px ;
    font-family: "BLANCH_CONDENSED_LIGHT";
}
.navbuttons {
    padding: 0px 10px;
    text-decoration: none;
    font-family: "BLANCH_CONDENSED_LIGHT";
}
.facebook, 
.twitter {
    height: 50px;
    width: 50px;
    border-radius: 25%;
    padding: 10px 10px;
    text-decoration: none;
} 
.twitter {
    padding-right: 5px;
}
.social {
    font-family: "BLANCH_CONDENSED_LIGHT";
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px 5px;
    justify-content: flex-end;
    text-decoration: none;
}
.line {
    border-left: 6px lightgrey solid;
    height: 15px;
    padding: 6px 6px 6px 6px;
}
.login {
    color: lightgrey;
    font-family: 'BLANCH_CAPS';
}